<div class='alert-card' id="<%= endpoint_alert.id %>">
Alert:
  <div class='card'>
    <div class='card-block'>
      <div class='row'>
        <div class='col-md-1'>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-11'>
          <%= endpoint_alert.identifier %><br>
          <%= endpoint_alert.status %><br>
          <%= endpoint_alert.title %><br>
          <%= endpoint_alert.description %><br>
        </div>
      </div>
    </div>
  </div>
</div>