<%= form_for @endpoint_alert, url: '#' do |f| %>
  <div class='form-group'>
    <%= f.label :identifier %>
    <%= f.text_area :identifier, class: 'form-control' %><br>
    <%= f.label :title %>
    <%= f.text_area :title, class: 'form-control' %><br>
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %><br>
    <%= f.label :status %>
    <%= f.text_area :status, class: 'form-control' %><br>
    <%= f.submit 'Create Alert', class: 'btn btn-primary' %>
  </div>
<% end %>